# MkDocs build output
/site/

# Python virtual environments
.venv/
env/
venv/

# macOS / Windows / editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary / cache files
__pycache__/
*.log
*.bak
