# MkDocs build output
/site/

# SSH Key
*.key
*.pem
id_rsa*
id_ed*

# Python virtual environments
.venv/
env/
venv/

# macOS / Windows / editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary / cache files
__pycache__/
*.log
*.bak
